:root{
    --Menu-wigth: 360px;
}



.Home {
    display: grid;
    grid-template-columns: 270px 10px 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
   "UserInformations divisor Posts";
   width: 100%;
   height: 100%;
   
}

.ConsultUserInfomation{
grid-area: UserInformations;

}
.AllPosts{
    grid-area: Posts;
}

.ButtonForDeletePost{
    border: none;
    color: #001f3f;
    background-color:aliceblue;
    border-radius: 9px;
    margin-bottom: 8px;
}

.PostsCss{
    border-style: solid;
    border-color: black;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.Divisor{
    grid-area: divisor;
    background-color: aliceblue;
}

.TITLE{
    font-size:xx-large;
    margin-left: 250px;
    margin-top: 25px;
}

.UserButoons{
    margin-left: 60px;
    margin-top: 110px;
}

.ButtonsComents{
    border-color: black;
    background-color: aliceblue;
    font-weight:700;
    border-radius: 15px;
    font-size: 9px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .ComentsSpace{
      margin-bottom: 25px;
  }

.RecivingSomePostsFor1°Coment{
    margin: 25px 100px;
    text-align: justify;
}

#CommentsSpace{
    background-color: rgb(42, 95, 241);
    border-radius: 9px;
    font-size: 12px;
    border-color: aliceblue;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 12px;
    overflow: auto;
    display: none;
}

.ComentPerson{
    margin-top: 8px;
    width: 600px;
    border-radius: 9px;
    padding: 10px;
}

.ButtonForDeleteComent{
    background: none;
    border: none;
    color: #001f3f;
    
}

.AddNewPost{
    display: flex;
    margin: 25px 100px;
}

.TitlePost{
    width: 350px;
}
.BodyPost{
   width: 500px;
}