:root{
    --Menu-wigth: 360px;
}



.Home {
    display: grid;
    grid-template-columns: 270px 10px 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
   "UserInformations divisor Posts";
   width: 100%;
   height: 100%;
   
}

.ConsultUserInfomation{
grid-area: UserInformations;

}
.AllPosts{
    grid-area: Posts;
}

.Divisor{
    grid-area: divisor;
    background-color: aliceblue;
}

.TITLE{
    font-size:xx-large;
    margin-left: 250px;
    margin-top: 25px;
}

.UserButoons{
    margin-left: 60px;
    margin-top: 110px;
}

.ButtonsComents{
    border-color: black;
    background-color: aliceblue;
    font-weight:700;
    border-radius: 15px;
    font-size: 9px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .ComentsSpace{
      margin-bottom: 25px;
  }

.RecivingSomePostsFor1°Coment{
    margin: 25px 100px;
    text-align: justify;
}

#CommentsSpace{
    background-color: rgb(43, 92, 92);
    border-radius: 9px;
    font-size: 12px;
    border-color: aliceblue;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 10px;
    overflow: auto;

}

.ComentPerson{
    margin: 8px 0px;
    width: 600px;
    border-radius: 9px;
    padding: 10px;
}

.ButtonForDeleteComent{
    background: none;
    border: none;
    color: #001f3f;
    
}