.Users{
    width: 100%;
    height: 100%;
}

.AllUsersFromApi{
    margin: 25px 100px;
    text-align: justify;
}

.TitleAllUsers{
    font-size:xx-large;
    margin-left: 250px;
    margin-top: 25px;
}

.Userdata{
   color: black;
   background-color: aliceblue;
    margin: 70px 35px;
    font-size: small;
    border-radius: 9px;
    padding: 20px;
}